body {
    background-color: #DFEEF0;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
}
img {
    border-radius: 50%;
}
hr {
    border-style: dashed;
    color: #4C6566;
}
h1, h3 {
    color: #6A8D8F;
}